// * {
//   margin: 0%;
//   padding: 0%;
//   box-sizing: border-box;
// }

// html,
// body,
// #root {
//   height: 100%;
//   width: 100%;
// }

main {
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;

  .left, .right {
    height: 100%;
    flex-basis: 50%;
    border-radius: 0.7rem;
  }
  
  .left {
    background-color: black;
    position: relative;

    .review {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
      background-color: rgb(219, 219, 255);
      color: black;
      padding: 0.5rem 2rem; 
      font-weight: 500;
      border-radius: 0.7rem;
      cursor: pointer;
      user-select: none;

    }

    .code, .code pre, .code code {
      height: 100%;
      width: 100%;
      margin: 0%;
      border-radius: 0.7rem;
      background-color: #0c0c0c;

    }
  }

  .right {
    background-color: rgb(34, 34, 34);
    padding: 1rem 2rem;
    // font-size: 1.5rem;
    overflow: auto;
  }
}

